%h1.text-center Edit Contact
= form_with model: ['admin', @contact] do |form|
  .form-group 
    = form.label :email, "Email:"
    = form.text_field :email, class: "form-control"
  .form-group 
    = form.label :facebook, "Facebook:"
    = form.text_field :facebook, class: "form-control"
  .form-group 
    = form.label :instagram, "Instagram:"
    = form.text_field :instagram, class: "form-control"
  .form-group 
    = form.label :twitter, "Twitter:"
    = form.text_field :twitter, class: "form-control"
  .form-group 
    = form.label :vimeo, "Vimeo:"
    = form.text_field :vimeo, class: "form-control"
  .form-group 
    = form.label :youtube, "YouTube:"
    = form.text_field :youtube, class: "form-control"
  .form-group 
    = form.submit "Update Contact", class: "btn btn-primary btn-block"