.row.d-flex.justify-content-between.align-items-center
  .col-auto 
    %h1 Contact Methods
  .col-auto 
    = link_to "Edit Info", edit_admin_contact_path, class: "btn btn-success"

%h5 Your current methods of contact are:
= mail_to @contact.email, class:"social-link btn btn-lg btn-link" do
  %i.far.fa-envelope
- unless @contact.facebook.blank?
  = link_to @contact.facebook, class:"social-link btn btn-lg btn-link" do
    %i.fab.fa-facebook
- unless @contact.instagram.blank?
  = link_to @contact.instagram, class:"social-link btn btn-lg btn-link" do
    %i.fab.fa-instagram
- unless @contact.twitter.blank?
  = link_to @contact.twitter, class:"social-link btn btn-lg btn-link" do
    %i.fab.fa-twitter
- unless @contact.vimeo.blank?
  = link_to @contact.vimeo, class:"social-link btn btn-lg btn-link" do
    %i.fab.fa-vimeo
- unless @contact.youtube.blank?
  = link_to @contact.youtube, class:"social-link btn btn-lg btn-link" do
    %i.fab.fa-youtube

