%b Title:
= @film.title
%br
%b Film:
%br
%iframe{allow: "autoplay; fullscreen; picture-in-picture", 
        allowfullscreen: "", 
        frameborder: "0", 
        height: "338", 
        src: "https://player.vimeo.com/video/#{ @film.vimeo_link.split("/").last }?title=0&byline=0&portrait=0", 
        width: "640"
        }
%br
%b Description:
%br
= @film.description
%br
%b Release Date:
= @film.release_date.strftime("%b. %Y")
%br
%b Cast Member:
- @film.cast_members.each do |cast_member|
  %br
  = "#{cast_member.name} - #{cast_member.role}"
%br

- if @film.awards.present?
  %b Awards
  - @film.awards.each do |award|
    %br
    = "#{award.place} at #{award.festival}"