%h1.text-center Edit About
= form_with model: ['admin', @about] do |form|
  .form-group 
    = form.label :photo, "Photo:"
    = form.file_field :photo, accept: "image/png, image/jpeg", class: "form-control-file"
    %small.form-text.text-muted Photo must be uploaded as a PNG or JPEG.
  .form-group 
    = form.label :bio, "Bio:"
    = form.text_area :bio, placeholder: "Biography", class: "form-control"
  .form-group 
    = form.label :resume, "Resume:"
    = form.file_field :resume, accept: "application/pdf", class: "form-control-file"
    %small.form-text.text-muted Resume must be uploaded as a PDF.
  .form-group 
    = form.submit "Update About", class: "btn btn-primary btn-block"