!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EECS647Project
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-primary.navbar-expand-md.text-white
      .container 
        = link_to "Admin", admin_root_path, class: "navbar-brand"
        %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          %ul.navbar-nav
            %li.nav-item.active
              = link_to "Films", admin_films_path, class: "nav-link"
            %li.nav-item.active
              = link_to "About Info", admin_about_path, class: "nav-link"
            %li.nav-item.active
              = link_to "Contact Info", admin_contact_path, class: "nav-link"
    .container.py-3
      = yield